.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    padding: 0;
    margin-bottom: 50px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
}

.card img {
    width: 250px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.card h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    color: white;
}

.card .delete-product {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 9;
    color: red;
    cursor: pointer;
    margin-top: 8px;
    font-size: 18px;
    transition: transform 0.3s;
    padding-inline: 5px;
    padding-top: 5px;
    &:hover { 
        transform: scale(1.2);
        color: rgb(180, 0, 0);
        background-color: white;
        border-radius: 50%;
    }
}

.card .edit-product {
    position: absolute;
    top: 8px;
    right: 38px;
    z-index: 9;
    color: #646cff;
    cursor: pointer;
    margin-top: 8px;
    font-size: 18px;
    transition: transform 0.3s;
    padding-inline: 5px;
    padding-top: 5px;
    &:hover { 
        transform: scale(1.2);
        color: #3a44f8;
        background-color: white;
        border-radius: 50%;
    }
}