.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 100vw;
    height: 85vh;
    
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

@media (max-width: 768px) {
    .container {
        height: 100vh;
    }
    .card-grid {
        grid-template-columns: 1fr;
    }
}